@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .luxury {
        @apply bg-black
    }

    .simple {
        @apply bg-[#E17654]
    }

    .rugged {
        @apply bg-[#115E59]
    }

    .active-link {
        font-weight: bold;
        text-decoration: underline;
        color: #161616;
    }

    .selected__type--simple {
        @apply bg-[#E17654] text-[#FFEAD0]
    }

    .selected__type--rugged {
        @apply bg-[#115E59] text-[#FFEAD0]
    }

    .selected__type--luxury {
        @apply bg-[#000] text-[#FFEAD0]
    }
}